#theTitle {
    font-size: 40px;
}
.theme1 {
    background-color: #f5c4c4;
    color: #0917e4;
}

.theme2 {
    background-color: #c5f8c5;
    color: black; 
}

.theme3 {
    background-color: #c6c6f8;
    color: white;
}
