body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: left;
    margin-right: 40px;
}
li {
    margin-left: 35px;
    padding: 3px;
}
.total {
    font-weight: bold;
}